.elementor-3909 .elementor-element.elementor-element-14756ff {
  --display: flex;
  --gap: 40px 40px;
  --flex-wrap: wrap;
  --background-transition: 0.3s;
  --margin-top: 120px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-widget-yumyum-animated-headline
  .yumyum-elementor-headline-dynamic-wrapper
  path {
  stroke: var(--e-global-color-accent);
}
.elementor-widget-yumyum-animated-headline
  .yumyum-elementor-headline-plain-text {
  color: var(--e-global-color-secondary);
}
.elementor-widget-yumyum-animated-headline .elementor-headline {
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-widget-yumyum-animated-headline
  .yumyum-elementor-headline-dynamic-text {
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-3909
  .elementor-element.elementor-element-afba5e4
  > .elementor-widget-container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.elementor-3909
  .elementor-element.elementor-element-afba5e4
  .elementor-headline {
  text-align: center;
  font-family: "Bangers", Sans-serif;
  font-size: 68px;
  font-weight: 400;
  line-height: 1.2;
}
.elementor-3909
  .elementor-element.elementor-element-afba5e4
  .yumyum-elementor-headline-plain-text {
  color: var(--e-global-color-secondary);
}
.elementor-3909
  .elementor-element.elementor-element-afba5e4
  .yumyum-elementor-headline-dynamic-text {
  color: var(--e-global-color-accent);
  font-family: "Bangers", Sans-serif;
  font-weight: 400;
}
.elementor-widget-nested-tabs.elementor-widget-n-tabs
  > .elementor-widget-container
  > .e-n-tabs[data-touch-mode="false"]
  > .e-n-tabs-heading
  > .e-n-tab-title[aria-selected="false"]:hover {
  background: var(--e-global-color-accent);
}
.elementor-widget-nested-tabs.elementor-widget-n-tabs
  > .elementor-widget-container
  > .e-n-tabs
  > .e-n-tabs-heading
  > .e-n-tab-title[aria-selected="true"],
.elementor-widget-nested-tabs.elementor-widget-n-tabs
  > .elementor-widget-container
  > .e-n-tabs[data-touch-mode="true"]
  > .e-n-tabs-heading
  > .e-n-tab-title[aria-selected="false"]:hover {
  background: var(--e-global-color-accent);
}
.elementor-widget-nested-tabs.elementor-widget-n-tabs
  > .elementor-widget-container
  > .e-n-tabs
  > .e-n-tabs-heading
  > :is(.e-n-tab-title > .e-n-tab-title-text, .e-n-tab-title) {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-3909 .elementor-element.elementor-element-9804201 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-3909 .elementor-element.elementor-element-b192c22 {
  --e-global-column-to-show: 3;
  --grid-column-gap: 40px;
  --grid-row-gap: 40px;
  width: 100%;
  max-width: 100%;
}
.elementor-3909 .elementor-element.elementor-element-b192c22 .elementor-item {
  width: calc((100% - 40px * (3 - 1)) / 3);
}
.elementor-3909
  .elementor-element.elementor-element-b192c22
  .product-block-list {
  margin: 0 5px 0 0;
}
.elementor-3909 .elementor-element.elementor-element-b192c22 .product-block {
  margin: 0 5px 0 0;
}
.elementor-3909
  .elementor-element.elementor-element-b192c22
  .swiper-pagination {
  text-align: center;
}
.elementor-3909 .elementor-element.elementor-element-c6759fd {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-3909 .elementor-element.elementor-element-407fac6 {
  --e-global-column-to-show: 3;
  --grid-column-gap: 30px;
  --grid-row-gap: 30px;
  width: 100%;
  max-width: 100%;
}
.elementor-3909 .elementor-element.elementor-element-407fac6 .elementor-item {
  width: calc((100% - 30px * (3 - 1)) / 3);
}
.elementor-3909
  .elementor-element.elementor-element-407fac6
  .swiper-pagination {
  text-align: center;
}
.elementor-3909 .elementor-element.elementor-element-04de0f0 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-3909 .elementor-element.elementor-element-ba2a7bf {
  --e-global-column-to-show: 3;
  --grid-column-gap: 30px;
  --grid-row-gap: 30px;
  width: 100%;
  max-width: 100%;
}
.elementor-3909 .elementor-element.elementor-element-ba2a7bf .elementor-item {
  width: calc((100% - 30px * (3 - 1)) / 3);
}
.elementor-3909
  .elementor-element.elementor-element-ba2a7bf
  .swiper-pagination {
  text-align: center;
}
.elementor-3909 .elementor-element.elementor-element-e03dcab {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-3909 .elementor-element.elementor-element-4b26a22 {
  --e-global-column-to-show: 3;
  --grid-column-gap: 30px;
  --grid-row-gap: 30px;
  width: 100%;
  max-width: 100%;
}
.elementor-3909 .elementor-element.elementor-element-4b26a22 .elementor-item {
  width: calc((100% - 30px * (3 - 1)) / 3);
}
.elementor-3909
  .elementor-element.elementor-element-4b26a22
  .swiper-pagination {
  text-align: center;
}
.elementor-3909 .elementor-element.elementor-element-bdf6f62 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-3909 .elementor-element.elementor-element-943716c {
  --e-global-column-to-show: 3;
  --grid-column-gap: 30px;
  --grid-row-gap: 30px;
  width: 100%;
  max-width: 100%;
}
.elementor-3909 .elementor-element.elementor-element-943716c .elementor-item {
  width: calc((100% - 30px * (3 - 1)) / 3);
}
.elementor-3909
  .elementor-element.elementor-element-943716c
  .swiper-pagination {
  text-align: center;
}
.elementor-3909 .elementor-element.elementor-element-bf1aaf2 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-3909 .elementor-element.elementor-element-9aee8f6 {
  --e-global-column-to-show: 3;
  --grid-column-gap: 30px;
  --grid-row-gap: 30px;
  width: 100%;
  max-width: 100%;
}
.elementor-3909 .elementor-element.elementor-element-9aee8f6 .elementor-item {
  width: calc((100% - 30px * (3 - 1)) / 3);
}
.elementor-3909
  .elementor-element.elementor-element-9aee8f6
  .swiper-pagination {
  text-align: center;
}
.elementor-3909 .elementor-element.elementor-element-d19b7fe {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-3909 .elementor-element.elementor-element-a9d315c {
  --e-global-column-to-show: 3;
  --grid-column-gap: 30px;
  --grid-row-gap: 30px;
  width: 100%;
  max-width: 100%;
}
.elementor-3909 .elementor-element.elementor-element-a9d315c .elementor-item {
  width: calc((100% - 30px * (3 - 1)) / 3);
}
.elementor-3909
  .elementor-element.elementor-element-a9d315c
  .swiper-pagination {
  text-align: center;
}
.elementor-3909 .elementor-element.elementor-element-3e6eed0 {
  --n-tabs-heading-wrap: wrap;
  --n-tabs-heading-overflow-x: initial;
  --n-tabs-title-white-space: initial;
  --n-tabs-title-gap: 20px;
  --n-tabs-gap: 40px;
  --n-tabs-title-border-radius: 9px 9px 9px 9px;
  --n-tabs-title-padding-top: 12px;
  --n-tabs-title-padding-right: 20px;
  --n-tabs-title-padding-bottom: 12px;
  --n-tabs-title-padding-left: 20px;
  --n-tabs-title-font-size: 21px;
  --n-tabs-title-color: var(--e-global-color-secondary);
  --n-tabs-title-color-active: #ffffff;
  --n-tabs-icon-size: 20px;
  --n-tabs-icon-gap: 8px;
}
.elementor-3909
  .elementor-element.elementor-element-3e6eed0
  > .elementor-widget-container
  > .e-n-tabs
  > .e-n-tabs-heading
  > .e-n-tab-title[aria-selected="false"]:not(:hover) {
  background: var(--e-global-color-tertiary);
}
.elementor-3909
  .elementor-element.elementor-element-3e6eed0.elementor-widget-n-tabs
  > .elementor-widget-container
  > .e-n-tabs[data-touch-mode="false"]
  > .e-n-tabs-heading
  > .e-n-tab-title[aria-selected="false"]:hover {
  background: var(--e-global-color-primary);
}
.elementor-3909
  .elementor-element.elementor-element-3e6eed0.elementor-widget-n-tabs
  > .elementor-widget-container
  > .e-n-tabs
  > .e-n-tabs-heading
  > .e-n-tab-title[aria-selected="true"],
.elementor-3909
  .elementor-element.elementor-element-3e6eed0.elementor-widget-n-tabs
  > .elementor-widget-container
  > .e-n-tabs[data-touch-mode="true"]
  > .e-n-tabs-heading
  > .e-n-tab-title[aria-selected="false"]:hover {
  background: var(--e-global-color-primary);
}
.elementor-3909
  .elementor-element.elementor-element-3e6eed0.elementor-widget-n-tabs
  > .elementor-widget-container
  > .e-n-tabs
  > .e-n-tabs-heading
  > :is(.e-n-tab-title > .e-n-tab-title-text, .e-n-tab-title) {
  font-family: "Bangers", Sans-serif;
  font-weight: 400;
  line-height: 25px;
}
.elementor-3909
  .elementor-element.elementor-element-3e6eed0
  [data-touch-mode="false"]
  .e-n-tab-title[aria-selected="false"]:hover {
  --n-tabs-title-color-hover: #fff;
}
:where(
    .elementor-3909
      .elementor-element.elementor-element-3e6eed0.elementor-widget-n-tabs
      > .elementor-widget-container
      > .e-n-tabs
      > .e-n-tabs-content
  )
  > .e-con {
  --padding-top: 0;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}
.elementor-3909 .elementor-element.elementor-element-894aa38 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --gap: 30px 30px;
  --background-transition: 0.3s;
  --margin-top: 150px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 75px;
  --padding-bottom: 75px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-3909
  .elementor-element.elementor-element-894aa38:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-3909
  .elementor-element.elementor-element-894aa38
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-quaternary);
}
.elementor-3909 .elementor-element.elementor-element-894aa38,
.elementor-3909 .elementor-element.elementor-element-894aa38::before {
  --border-transition: 0.3s;
}
.elementor-3909
  .elementor-element.elementor-element-894aa38
  > .elementor-shape-top
  .elementor-shape-fill,
.elementor-3909
  .elementor-element.elementor-element-894aa38
  > .e-con-inner
  > .elementor-shape-top
  .elementor-shape-fill {
  fill: var(--e-global-color-quaternary);
}
.elementor-3909
  .elementor-element.elementor-element-894aa38
  > .elementor-shape-bottom
  .elementor-shape-fill,
.elementor-3909
  .elementor-element.elementor-element-894aa38
  > .e-con-inner
  > .elementor-shape-bottom
  .elementor-shape-fill {
  fill: var(--e-global-color-quaternary);
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
body:not(.rtl) .elementor-3909 .elementor-element.elementor-element-62640bd {
  left: -152px;
}
body.rtl .elementor-3909 .elementor-element.elementor-element-62640bd {
  right: -152px;
}
.elementor-3909 .elementor-element.elementor-element-62640bd {
  top: 102px;
}
body:not(.rtl) .elementor-3909 .elementor-element.elementor-element-1857cdd {
  left: -36px;
}
body.rtl .elementor-3909 .elementor-element.elementor-element-1857cdd {
  right: -36px;
}
.elementor-3909 .elementor-element.elementor-element-1857cdd {
  bottom: 61px;
}
body:not(.rtl) .elementor-3909 .elementor-element.elementor-element-8f8e67e {
  left: 48%;
}
body.rtl .elementor-3909 .elementor-element.elementor-element-8f8e67e {
  right: 48%;
}
.elementor-3909 .elementor-element.elementor-element-8f8e67e {
  bottom: 30px;
}
body:not(.rtl) .elementor-3909 .elementor-element.elementor-element-a117d26 {
  right: 0;
}
body.rtl .elementor-3909 .elementor-element.elementor-element-a117d26 {
  left: 0;
}
.elementor-3909 .elementor-element.elementor-element-a117d26 {
  top: 23px;
}
.elementor-3909 .elementor-element.elementor-element-83f84f5 {
  --display: flex;
  --gap: 40px 40px;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 80px;
  --z-index: 1;
}
.elementor-3909
  .elementor-element.elementor-element-fede03b
  .elementor-headline {
  text-align: left;
  font-family: "Bangers", Sans-serif;
  font-size: 68px;
  font-weight: 400;
  line-height: 1.2;
}
.elementor-3909
  .elementor-element.elementor-element-fede03b
  .yumyum-elementor-headline-plain-text {
  color: var(--e-global-color-secondary);
}
.elementor-3909
  .elementor-element.elementor-element-fede03b
  .yumyum-elementor-headline-dynamic-text {
  color: var(--e-global-color-accent);
}
.elementor-3909 .elementor-element.elementor-element-942143d {
  --display: flex;
  --gap: 30px 30px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-widget-text-editor {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-widget-yumyum-icon-box.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-yumyum-icon-box.elementor-view-framed .elementor-icon,
.elementor-widget-yumyum-icon-box.elementor-view-default .elementor-icon {
  fill: var(--e-global-color-primary);
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-widget-yumyum-icon-box .elementor-icon-box-title {
  color: var(--e-global-color-primary);
}
.elementor-widget-yumyum-icon-box .elementor-icon-box-title a {
  color: var(--e-global-color-primary);
}
.elementor-widget-yumyum-icon-box .elementor-icon-box-description {
  color: var(--e-global-color-text);
}
.elementor-widget-yumyum-icon-box .elementor-icon-box-description-2 {
  color: var(--e-global-color-text);
}
.elementor-3909
  .elementor-element.elementor-element-2964d89
  > .elementor-widget-container {
  padding: 0 42px 0 0;
}
.elementor-3909
  .elementor-element.elementor-element-2964d89.elementor-view-stacked
  .elementor-icon {
  background-color: #fff;
  fill: var(--e-global-color-accent);
  color: var(--e-global-color-accent);
}
.elementor-3909
  .elementor-element.elementor-element-2964d89.elementor-view-framed
  .elementor-icon,
.elementor-3909
  .elementor-element.elementor-element-2964d89.elementor-view-default
  .elementor-icon {
  fill: #fff;
  color: #fff;
  border-color: #fff;
}
.elementor-3909
  .elementor-element.elementor-element-2964d89.elementor-view-framed
  .elementor-icon {
  background-color: var(--e-global-color-accent);
}
.elementor-3909
  .elementor-element.elementor-element-2964d89.elementor-effect-yes
  .elementor-icon-box-icon
  .elementor-icon:before {
  background-color: var(--e-global-color-accent);
}
.elementor-3909 .elementor-element.elementor-element-2964d89 {
  --icon-box-icon-margin: 20px;
}
.elementor-3909 .elementor-element.elementor-element-2964d89 .elementor-icon {
  font-size: 40px;
}
.elementor-3909
  .elementor-element.elementor-element-2964d89
  .elementor-icon-box-icon {
  justify-content: center;
}
.elementor-3909
  .elementor-element.elementor-element-2964d89
  .elementor-icon-box-icon
  .elementor-icon {
  justify-content: center;
  padding: 20px 20px 20px 20px;
}
.elementor-3909
  .elementor-element.elementor-element-2964d89
  .elementor-icon-box-title {
  margin: 0 0 4px 0;
  color: var(--e-global-color-secondary);
}
.elementor-3909
  .elementor-element.elementor-element-2964d89
  .elementor-icon-box-title
  a {
  color: var(--e-global-color-secondary);
}
.elementor-3909
  .elementor-element.elementor-element-2964d89
  .elementor-icon-box-title,
.elementor-3909
  .elementor-element.elementor-element-2964d89
  .elementor-icon-box-title
  a {
  font-size: 21px;
  line-height: 1.2;
}
.elementor-3909
  .elementor-element.elementor-element-2964d89
  .elementor-icon-box-description {
  font-family: "Quicksand", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.elementor-3909
  .elementor-element.elementor-element-5514931
  > .elementor-widget-container {
  padding: 0 42px 0 0;
}
.elementor-3909
  .elementor-element.elementor-element-5514931.elementor-view-stacked
  .elementor-icon {
  background-color: #fff;
  fill: var(--e-global-color-accent);
  color: var(--e-global-color-accent);
}
.elementor-3909
  .elementor-element.elementor-element-5514931.elementor-view-framed
  .elementor-icon,
.elementor-3909
  .elementor-element.elementor-element-5514931.elementor-view-default
  .elementor-icon {
  fill: #fff;
  color: #fff;
  border-color: #fff;
}
.elementor-3909
  .elementor-element.elementor-element-5514931.elementor-view-framed
  .elementor-icon {
  background-color: var(--e-global-color-accent);
}
.elementor-3909
  .elementor-element.elementor-element-5514931.elementor-effect-yes
  .elementor-icon-box-icon
  .elementor-icon:before {
  background-color: var(--e-global-color-accent);
}
.elementor-3909 .elementor-element.elementor-element-5514931 {
  --icon-box-icon-margin: 20px;
}
.elementor-3909 .elementor-element.elementor-element-5514931 .elementor-icon {
  font-size: 40px;
}
.elementor-3909
  .elementor-element.elementor-element-5514931
  .elementor-icon-box-icon {
  justify-content: center;
}
.elementor-3909
  .elementor-element.elementor-element-5514931
  .elementor-icon-box-icon
  .elementor-icon {
  justify-content: center;
  padding: 20px 20px 20px 20px;
}
.elementor-3909
  .elementor-element.elementor-element-5514931
  .elementor-icon-box-title {
  margin: 0 0 4px 0;
  color: var(--e-global-color-secondary);
}
.elementor-3909
  .elementor-element.elementor-element-5514931
  .elementor-icon-box-title
  a {
  color: var(--e-global-color-secondary);
}
.elementor-3909
  .elementor-element.elementor-element-5514931
  .elementor-icon-box-title,
.elementor-3909
  .elementor-element.elementor-element-5514931
  .elementor-icon-box-title
  a {
  font-size: 21px;
  line-height: 1.2;
}
.elementor-3909
  .elementor-element.elementor-element-5514931
  .elementor-icon-box-description {
  font-family: "Quicksand", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.elementor-3909
  .elementor-element.elementor-element-5197825
  > .elementor-widget-container {
  padding: 0 42px 0 0;
}
.elementor-3909
  .elementor-element.elementor-element-5197825.elementor-view-stacked
  .elementor-icon {
  background-color: #fff;
  fill: var(--e-global-color-accent);
  color: var(--e-global-color-accent);
}
.elementor-3909
  .elementor-element.elementor-element-5197825.elementor-view-framed
  .elementor-icon,
.elementor-3909
  .elementor-element.elementor-element-5197825.elementor-view-default
  .elementor-icon {
  fill: #fff;
  color: #fff;
  border-color: #fff;
}
.elementor-3909
  .elementor-element.elementor-element-5197825.elementor-view-framed
  .elementor-icon {
  background-color: var(--e-global-color-accent);
}
.elementor-3909
  .elementor-element.elementor-element-5197825.elementor-effect-yes
  .elementor-icon-box-icon
  .elementor-icon:before {
  background-color: var(--e-global-color-accent);
}
.elementor-3909 .elementor-element.elementor-element-5197825 {
  --icon-box-icon-margin: 20px;
}
.elementor-3909 .elementor-element.elementor-element-5197825 .elementor-icon {
  font-size: 40px;
}
.elementor-3909
  .elementor-element.elementor-element-5197825
  .elementor-icon-box-icon {
  justify-content: center;
}
.elementor-3909
  .elementor-element.elementor-element-5197825
  .elementor-icon-box-icon
  .elementor-icon {
  justify-content: center;
  padding: 20px 20px 20px 20px;
}
.elementor-3909
  .elementor-element.elementor-element-5197825
  .elementor-icon-box-title {
  margin: 0 0 4px 0;
  color: var(--e-global-color-secondary);
}
.elementor-3909
  .elementor-element.elementor-element-5197825
  .elementor-icon-box-title
  a {
  color: var(--e-global-color-secondary);
}
.elementor-3909
  .elementor-element.elementor-element-5197825
  .elementor-icon-box-title,
.elementor-3909
  .elementor-element.elementor-element-5197825
  .elementor-icon-box-title
  a {
  font-size: 21px;
  line-height: 1.2;
}
.elementor-3909
  .elementor-element.elementor-element-5197825
  .elementor-icon-box-description {
  font-family: "Quicksand", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-3909 .elementor-element.elementor-element-8f81591 .elementor-button {
  background-color: var(--e-global-color-primary);
  font-family: "Bangers", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  fill: #fff;
  color: #fff;
  padding: 20px 30px 20px 40px;
}
.elementor-3909
  .elementor-element.elementor-element-8f81591
  .elementor-button:hover,
.elementor-3909
  .elementor-element.elementor-element-8f81591
  .elementor-button:focus {
  background-color: #fff;
  color: var(--e-global-color-primary);
}
.elementor-3909
  .elementor-element.elementor-element-8f81591
  > .elementor-widget-container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.elementor-3909 .elementor-element.elementor-element-8f81591 {
  z-index: 1;
}
.elementor-3909
  .elementor-element.elementor-element-8f81591
  .elementor-button-content-wrapper {
  flex-direction: row-reverse;
}
.elementor-3909
  .elementor-element.elementor-element-8f81591
  .elementor-button
  .elementor-button-content-wrapper {
  gap: 10px;
}
.elementor-3909
  .elementor-element.elementor-element-8f81591
  .elementor-button-content-wrapper
  .elementor-button-icon
  i:before {
  font-size: 20px;
}
.elementor-3909
  .elementor-element.elementor-element-8f81591
  .elementor-button-content-wrapper
  .elementor-button-icon
  svg {
  font-size: 20px;
}
.elementor-3909
  .elementor-element.elementor-element-8f81591
  .elementor-button:hover
  svg,
.elementor-3909
  .elementor-element.elementor-element-8f81591
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-3909
  .elementor-element.elementor-element-2fb73be
  > .elementor-widget-container {
  margin: 0 -180px 0 0;
  padding: 0 0 0 0;
}
.elementor-3909 .elementor-element.elementor-element-80969ed {
  --display: flex;
  --gap: 60px 60px;
  --background-transition: 0.3s;
  --margin-top: 150px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-3909
  .elementor-element.elementor-element-f3111ae
  .elementor-headline {
  text-align: center;
  font-family: "Bangers", Sans-serif;
  font-size: 68px;
  font-weight: 400;
  line-height: 1.2;
}
.elementor-3909
  .elementor-element.elementor-element-f3111ae
  .yumyum-elementor-headline-dynamic-text {
  color: var(--e-global-color-accent);
}
.elementor-3909 .elementor-element.elementor-element-7503660 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 30px 30px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-3909
  .elementor-element.elementor-element-e7a8fec.elementor-effect-yes
  .elementor-icon:before {
  transform: rotate(310deg);
}
.elementor-3909 .elementor-element.elementor-element-e7a8fec {
  padding: 34px 34px 0 34px;
  --icon-box-icon-margin: 40px;
}
.elementor-3909
  .elementor-element.elementor-element-e7a8fec.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-accent);
  fill: var(--e-global-color-primary);
  color: var(--e-global-color-primary);
}
.elementor-3909
  .elementor-element.elementor-element-e7a8fec.elementor-view-framed
  .elementor-icon,
.elementor-3909
  .elementor-element.elementor-element-e7a8fec.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-accent);
  color: var(--e-global-color-accent);
  border-color: var(--e-global-color-accent);
}
.elementor-3909
  .elementor-element.elementor-element-e7a8fec.elementor-view-framed
  .elementor-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-3909
  .elementor-element.elementor-element-e7a8fec.elementor-effect-yes
  .elementor-icon-box-icon
  .elementor-icon:before {
  background-color: var(--e-global-color-primary);
}
.elementor-3909
  .elementor-element.elementor-element-e7a8fec
  .elementor-icon-box-icon
  .elementor-icon
  svg {
  width: 190px;
  height: 190px;
}
.elementor-3909
  .elementor-element.elementor-element-e7a8fec
  .elementor-icon-box-icon {
  justify-content: center;
}
.elementor-3909
  .elementor-element.elementor-element-e7a8fec
  .elementor-icon-box-icon
  .elementor-icon {
  justify-content: center;
  padding: 74px 74px 74px 74px;
}
.elementor-3909
  .elementor-element.elementor-element-e7a8fec
  .elementor-icon-box-title {
  margin: 0 0 12px 0;
  color: #000;
}
.elementor-3909
  .elementor-element.elementor-element-e7a8fec
  .elementor-icon-box-title
  a {
  color: #000;
}
.elementor-3909
  .elementor-element.elementor-element-e7a8fec
  .elementor-icon-box-title,
.elementor-3909
  .elementor-element.elementor-element-e7a8fec
  .elementor-icon-box-title
  a {
  font-size: 38px;
  font-weight: 400;
  line-height: 45.6px;
}
.elementor-3909
  .elementor-element.elementor-element-e7a8fec
  .elementor-icon-box-description {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0 40px 0 40px;
}
.elementor-3909
  .elementor-element.elementor-element-9c20bc1.elementor-effect-yes
  .elementor-icon:before {
  transform: rotate(0deg);
}
.elementor-3909 .elementor-element.elementor-element-9c20bc1 {
  padding: 34px 34px 0 34px;
  --icon-box-icon-margin: 40px;
}
.elementor-3909
  .elementor-element.elementor-element-9c20bc1.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-primary);
  fill: var(--e-global-color-quaternary);
  color: var(--e-global-color-quaternary);
}
.elementor-3909
  .elementor-element.elementor-element-9c20bc1.elementor-view-framed
  .elementor-icon,
.elementor-3909
  .elementor-element.elementor-element-9c20bc1.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-primary);
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-3909
  .elementor-element.elementor-element-9c20bc1.elementor-view-framed
  .elementor-icon {
  background-color: var(--e-global-color-quaternary);
}
.elementor-3909
  .elementor-element.elementor-element-9c20bc1.elementor-effect-yes
  .elementor-icon-box-icon
  .elementor-icon:before {
  background-color: var(--e-global-color-quaternary);
}
.elementor-3909
  .elementor-element.elementor-element-9c20bc1
  .elementor-icon-box-icon
  .elementor-icon
  svg {
  width: 190px;
  height: 190px;
}
.elementor-3909
  .elementor-element.elementor-element-9c20bc1
  .elementor-icon-box-icon {
  justify-content: center;
}
.elementor-3909
  .elementor-element.elementor-element-9c20bc1
  .elementor-icon-box-icon
  .elementor-icon {
  justify-content: center;
  padding: 74px 74px 74px 74px;
}
.elementor-3909
  .elementor-element.elementor-element-9c20bc1
  .elementor-icon-box-title {
  margin: 0 0 12px 0;
  color: #000;
}
.elementor-3909
  .elementor-element.elementor-element-9c20bc1
  .elementor-icon-box-title
  a {
  color: #000;
}
.elementor-3909
  .elementor-element.elementor-element-9c20bc1
  .elementor-icon-box-title,
.elementor-3909
  .elementor-element.elementor-element-9c20bc1
  .elementor-icon-box-title
  a {
  font-size: 38px;
  font-weight: 400;
  line-height: 45.6px;
}
.elementor-3909
  .elementor-element.elementor-element-9c20bc1
  .elementor-icon-box-description {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0 40px 0 40px;
}
.elementor-3909
  .elementor-element.elementor-element-ce418b6.elementor-effect-yes
  .elementor-icon:before {
  transform: rotate(120deg);
}
.elementor-3909 .elementor-element.elementor-element-ce418b6 {
  padding: 34px 34px 0 34px;
  --icon-box-icon-margin: 40px;
}
.elementor-3909
  .elementor-element.elementor-element-ce418b6.elementor-view-stacked
  .elementor-icon {
  background-color: #f73e4f;
  fill: var(--e-global-color-accent);
  color: var(--e-global-color-accent);
}
.elementor-3909
  .elementor-element.elementor-element-ce418b6.elementor-view-framed
  .elementor-icon,
.elementor-3909
  .elementor-element.elementor-element-ce418b6.elementor-view-default
  .elementor-icon {
  fill: #f73e4f;
  color: #f73e4f;
  border-color: #f73e4f;
}
.elementor-3909
  .elementor-element.elementor-element-ce418b6.elementor-view-framed
  .elementor-icon {
  background-color: var(--e-global-color-accent);
}
.elementor-3909
  .elementor-element.elementor-element-ce418b6.elementor-effect-yes
  .elementor-icon-box-icon
  .elementor-icon:before {
  background-color: var(--e-global-color-accent);
}
.elementor-3909
  .elementor-element.elementor-element-ce418b6
  .elementor-icon-box-icon
  .elementor-icon
  svg {
  width: 190px;
  height: 190px;
}
.elementor-3909
  .elementor-element.elementor-element-ce418b6
  .elementor-icon-box-icon {
  justify-content: center;
}
.elementor-3909
  .elementor-element.elementor-element-ce418b6
  .elementor-icon-box-icon
  .elementor-icon {
  justify-content: center;
  padding: 74px 74px 74px 74px;
}
.elementor-3909
  .elementor-element.elementor-element-ce418b6
  .elementor-icon-box-title {
  margin: 0 0 12px 0;
  color: #000;
}
.elementor-3909
  .elementor-element.elementor-element-ce418b6
  .elementor-icon-box-title
  a {
  color: #000;
}
.elementor-3909
  .elementor-element.elementor-element-ce418b6
  .elementor-icon-box-title,
.elementor-3909
  .elementor-element.elementor-element-ce418b6
  .elementor-icon-box-title
  a {
  font-size: 38px;
  font-weight: 400;
  line-height: 45.6px;
}
.elementor-3909
  .elementor-element.elementor-element-ce418b6
  .elementor-icon-box-description {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0 40px 0 40px;
}
.elementor-3909 .elementor-element.elementor-element-377a116 {
  --display: flex;
  --gap: 28px 28px;
  --background-transition: 0.3s;
  --margin-top: 120px;
  --margin-bottom: 143px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-3909 .elementor-element.elementor-element-377a116,
.elementor-3909 .elementor-element.elementor-element-377a116::before {
  --border-transition: 0.3s;
}
.elementor-3909 .elementor-element.elementor-element-0deb621 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 30px 30px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-3909 .elementor-element.elementor-element-eb9ad24 {
  --display: flex;
  --min-height: 390px;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --overlay-opacity: 1;
  --border-radius: 30px 30px 30px 30px;
  --padding-top: 71px;
  --padding-bottom: 70px;
  --padding-left: 70px;
  --padding-right: 415px;
}
.elementor-3909
  .elementor-element.elementor-element-eb9ad24:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-3909
  .elementor-element.elementor-element-eb9ad24
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fe4225;
  background-image: url(../../../../../../../../uploads/2024/10/h3-offer-back.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
.elementor-3909 .elementor-element.elementor-element-eb9ad24::before,
.elementor-3909
  .elementor-element.elementor-element-eb9ad24
  > .elementor-background-video-container::before,
.elementor-3909
  .elementor-element.elementor-element-eb9ad24
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-3909
  .elementor-element.elementor-element-eb9ad24
  > .elementor-background-slideshow::before,
.elementor-3909
  .elementor-element.elementor-element-eb9ad24
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-3909
  .elementor-element.elementor-element-eb9ad24
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  background-image: url(/wp-content/uploads/2024/10/h3-offer-main.png);
  --background-overlay: "";
  background-position: bottom right;
  background-repeat: no-repeat;
}
.elementor-3909 .elementor-element.elementor-element-eb9ad24,
.elementor-3909 .elementor-element.elementor-element-eb9ad24::before {
  --border-transition: 0.3s;
}
.elementor-3909 .elementor-element.elementor-element-eb9ad24.e-con {
  --flex-grow: 1;
  --flex-shrink: 0;
}
.elementor-widget-heading .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-3909
  .elementor-element.elementor-element-1da8845
  .elementor-heading-title {
  color: #fff;
  font-family: "Bangers", Sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
}
.elementor-3909 .elementor-element.elementor-element-7c218d1 {
  color: #fff;
}
.elementor-3909 .elementor-element.elementor-element-10ef82e .elementor-button {
  background-color: var(--e-global-color-primary);
  font-family: "Bangers", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  fill: #fff;
  color: #fff;
  padding: 13px 21px 13px 21px;
}
.elementor-3909
  .elementor-element.elementor-element-10ef82e
  .elementor-button:hover,
.elementor-3909
  .elementor-element.elementor-element-10ef82e
  .elementor-button:focus {
  background-color: #fff;
  color: var(--e-global-color-primary);
}
.elementor-3909
  .elementor-element.elementor-element-10ef82e
  > .elementor-widget-container {
  padding: 12px 0 0 0;
}
.elementor-3909
  .elementor-element.elementor-element-10ef82e
  .elementor-button-content-wrapper {
  flex-direction: row-reverse;
}
.elementor-3909
  .elementor-element.elementor-element-10ef82e
  .elementor-button
  .elementor-button-content-wrapper {
  gap: 10px;
}
.elementor-3909
  .elementor-element.elementor-element-10ef82e
  .elementor-button-content-wrapper
  .elementor-button-icon
  i:before {
  font-size: 20px;
}
.elementor-3909
  .elementor-element.elementor-element-10ef82e
  .elementor-button-content-wrapper
  .elementor-button-icon
  svg {
  font-size: 20px;
}
.elementor-3909
  .elementor-element.elementor-element-10ef82e
  .elementor-button:hover
  svg,
.elementor-3909
  .elementor-element.elementor-element-10ef82e
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-primary);
}
body:not(.rtl) .elementor-3909 .elementor-element.elementor-element-87c277d {
  left: 19px;
}
body.rtl .elementor-3909 .elementor-element.elementor-element-87c277d {
  right: 19px;
}
.elementor-3909 .elementor-element.elementor-element-87c277d {
  bottom: 0;
}
.elementor-3909 .elementor-element.elementor-element-ae3fd39 {
  --display: flex;
  --min-height: 280px;
  --gap: 4px 4px;
  --background-transition: 0.3s;
  --border-radius: 30px 30px 30px 30px;
  --padding-top: 39px;
  --padding-bottom: 0px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-3909
  .elementor-element.elementor-element-ae3fd39:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-3909
  .elementor-element.elementor-element-ae3fd39
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #70a11f;
  background-image: url(/wp-content/uploads/2024/09/h3-back-menu1.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-3909 .elementor-element.elementor-element-ae3fd39,
.elementor-3909 .elementor-element.elementor-element-ae3fd39::before {
  --border-transition: 0.3s;
}
.elementor-3909 .elementor-element.elementor-element-109281c.elementor-element {
  --align-self: center;
}
.elementor-3909
  .elementor-element.elementor-element-109281c
  .elementor-heading-title {
  color: #fff;
  font-family: "Bangers", Sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
}
.elementor-3909
  .elementor-element.elementor-element-2a54512
  > .elementor-widget-container {
  margin: 0 0 0 36px;
}
body:not(.rtl) .elementor-3909 .elementor-element.elementor-element-1b20784 {
  left: 44px;
}
body.rtl .elementor-3909 .elementor-element.elementor-element-1b20784 {
  right: 44px;
}
.elementor-3909 .elementor-element.elementor-element-1b20784 {
  top: 146px;
}
body:not(.rtl) .elementor-3909 .elementor-element.elementor-element-710b628 {
  right: 0;
}
body.rtl .elementor-3909 .elementor-element.elementor-element-710b628 {
  left: 0;
}
.elementor-3909 .elementor-element.elementor-element-710b628 {
  top: 135px;
}
.elementor-3909 .elementor-element.elementor-element-b17217b {
  --display: flex;
  --position: absolute;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
  top: 93px;
}
body:not(.rtl) .elementor-3909 .elementor-element.elementor-element-b17217b {
  left: -2px;
}
body.rtl .elementor-3909 .elementor-element.elementor-element-b17217b {
  right: -2px;
}
@media (max-width: 1366px) {
  .elementor-3909 .elementor-element.elementor-element-a117d26 {
    top: 10px;
  }
  .elementor-3909 .elementor-element.elementor-element-a117d26 img {
    width: 250px;
  }
  .elementor-3909 .elementor-element.elementor-element-83f84f5 {
    --padding-top: 0;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-3909
    .elementor-element.elementor-element-2fb73be
    > .elementor-widget-container {
    margin: 0 0 0 0;
  }
  .elementor-3909
    .elementor-element.elementor-element-e7a8fec
    .elementor-icon-box-icon
    .elementor-icon
    svg {
    width: 150px;
    height: 150px;
  }
  .elementor-3909
    .elementor-element.elementor-element-9c20bc1
    .elementor-icon-box-icon
    .elementor-icon
    svg {
    width: 150px;
    height: 150px;
  }
  .elementor-3909
    .elementor-element.elementor-element-ce418b6
    .elementor-icon-box-icon
    .elementor-icon
    svg {
    width: 150px;
    height: 150px;
  }
  .elementor-3909 .elementor-element.elementor-element-eb9ad24 {
    --padding-top: 60px;
    --padding-bottom: 60px;
    --padding-left: 60px;
    --padding-right: 400px;
  }
  .elementor-3909 .elementor-element.elementor-element-ae3fd39 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
  }
  .elementor-3909
    .elementor-element.elementor-element-2a54512
    > .elementor-widget-container {
    margin: 0 0 0 0;
  }
  body:not(.rtl) .elementor-3909 .elementor-element.elementor-element-1b20784 {
    left: 30px;
  }
  body.rtl .elementor-3909 .elementor-element.elementor-element-1b20784 {
    right: 30px;
  }
  body:not(.rtl) .elementor-3909 .elementor-element.elementor-element-b17217b {
    left: 0;
  }
  body.rtl .elementor-3909 .elementor-element.elementor-element-b17217b {
    right: 0;
  }
}
@media (max-width: 1200px) {
  .elementor-3909 .elementor-element.elementor-element-b192c22 {
    --e-global-column-to-show: 3;
  }
  .elementor-3909 .elementor-element.elementor-element-b192c22 .elementor-item {
    width: calc((100% - 40px * (3 - 1)) / 3);
  }
  .elementor-3909 .elementor-element.elementor-element-407fac6 {
    --e-global-column-to-show: 3;
  }
  .elementor-3909 .elementor-element.elementor-element-407fac6 .elementor-item {
    width: calc((100% - 30px * (3 - 1)) / 3);
  }
  .elementor-3909 .elementor-element.elementor-element-ba2a7bf {
    --e-global-column-to-show: 3;
  }
  .elementor-3909 .elementor-element.elementor-element-ba2a7bf .elementor-item {
    width: calc((100% - 30px * (3 - 1)) / 3);
  }
  .elementor-3909 .elementor-element.elementor-element-4b26a22 {
    --e-global-column-to-show: 3;
  }
  .elementor-3909 .elementor-element.elementor-element-4b26a22 .elementor-item {
    width: calc((100% - 30px * (3 - 1)) / 3);
  }
  .elementor-3909 .elementor-element.elementor-element-943716c {
    --e-global-column-to-show: 3;
  }
  .elementor-3909 .elementor-element.elementor-element-943716c .elementor-item {
    width: calc((100% - 30px * (3 - 1)) / 3);
  }
  .elementor-3909 .elementor-element.elementor-element-9aee8f6 {
    --e-global-column-to-show: 3;
  }
  .elementor-3909 .elementor-element.elementor-element-9aee8f6 .elementor-item {
    width: calc((100% - 30px * (3 - 1)) / 3);
  }
  .elementor-3909 .elementor-element.elementor-element-a9d315c {
    --e-global-column-to-show: 3;
  }
  .elementor-3909 .elementor-element.elementor-element-a9d315c .elementor-item {
    width: calc((100% - 30px * (3 - 1)) / 3);
  }
  .elementor-3909
    .elementor-element.elementor-element-e7a8fec
    .elementor-icon-box-icon {
    --spacing-arc: 20px;
  }
  .elementor-3909
    .elementor-element.elementor-element-e7a8fec.elementor-effect-yes
    .elementor-icon:before {
    mask-size: 80px;
    -webkit-mask-size: 80px;
  }
  .elementor-3909 .elementor-element.elementor-element-e7a8fec {
    padding: 30px 0 0 0;
  }
  .elementor-3909
    .elementor-element.elementor-element-e7a8fec
    .elementor-icon-box-icon
    .elementor-icon
    svg {
    width: 100px;
    height: 100px;
  }
  .elementor-3909
    .elementor-element.elementor-element-e7a8fec
    .elementor-icon-box-icon
    .elementor-icon {
    padding: 30px 30px 30px 30px;
  }
  .elementor-3909
    .elementor-element.elementor-element-e7a8fec
    .elementor-icon-box-description {
    padding: 0 0 0 0;
  }
  .elementor-3909
    .elementor-element.elementor-element-9c20bc1
    .elementor-icon-box-icon {
    --spacing-arc: 20px;
  }
  .elementor-3909
    .elementor-element.elementor-element-9c20bc1.elementor-effect-yes
    .elementor-icon:before {
    mask-size: 80px;
    -webkit-mask-size: 80px;
  }
  .elementor-3909 .elementor-element.elementor-element-9c20bc1 {
    padding: 30px 0 0 0;
  }
  .elementor-3909
    .elementor-element.elementor-element-9c20bc1
    .elementor-icon-box-icon
    .elementor-icon
    svg {
    width: 100px;
    height: 100px;
  }
  .elementor-3909
    .elementor-element.elementor-element-9c20bc1
    .elementor-icon-box-icon
    .elementor-icon {
    padding: 30px 30px 30px 30px;
  }
  .elementor-3909
    .elementor-element.elementor-element-9c20bc1
    .elementor-icon-box-description {
    padding: 0 10px 0 10px;
  }
  .elementor-3909
    .elementor-element.elementor-element-ce418b6
    .elementor-icon-box-icon {
    --spacing-arc: 20px;
  }
  .elementor-3909
    .elementor-element.elementor-element-ce418b6.elementor-effect-yes
    .elementor-icon:before {
    mask-size: 80px;
    -webkit-mask-size: 80px;
  }
  .elementor-3909 .elementor-element.elementor-element-ce418b6 {
    padding: 30px 0 0 0;
  }
  .elementor-3909
    .elementor-element.elementor-element-ce418b6
    .elementor-icon-box-icon
    .elementor-icon
    svg {
    width: 100px;
    height: 100px;
  }
  .elementor-3909
    .elementor-element.elementor-element-ce418b6
    .elementor-icon-box-icon
    .elementor-icon {
    padding: 30px 30px 30px 30px;
  }
  .elementor-3909
    .elementor-element.elementor-element-ce418b6
    .elementor-icon-box-description {
    padding: 0 10px 0 10px;
  }
  .elementor-3909 .elementor-element.elementor-element-eb9ad24 {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
}
@media (max-width: 1024px) {
  .elementor-3909 .elementor-element.elementor-element-b192c22 {
    --e-global-column-to-show: 2;
  }
  .elementor-3909 .elementor-element.elementor-element-b192c22 .elementor-item {
    width: calc((100% - 40px * (2 - 1)) / 2);
  }
  .elementor-3909 .elementor-element.elementor-element-407fac6 {
    --e-global-column-to-show: 2;
  }
  .elementor-3909 .elementor-element.elementor-element-407fac6 .elementor-item {
    width: calc((100% - 30px * (2 - 1)) / 2);
  }
  .elementor-3909 .elementor-element.elementor-element-ba2a7bf {
    --e-global-column-to-show: 2;
  }
  .elementor-3909 .elementor-element.elementor-element-ba2a7bf .elementor-item {
    width: calc((100% - 30px * (2 - 1)) / 2);
  }
  .elementor-3909 .elementor-element.elementor-element-4b26a22 {
    --e-global-column-to-show: 2;
  }
  .elementor-3909 .elementor-element.elementor-element-4b26a22 .elementor-item {
    width: calc((100% - 30px * (2 - 1)) / 2);
  }
  .elementor-3909 .elementor-element.elementor-element-943716c {
    --e-global-column-to-show: 2;
  }
  .elementor-3909 .elementor-element.elementor-element-943716c .elementor-item {
    width: calc((100% - 30px * (2 - 1)) / 2);
  }
  .elementor-3909 .elementor-element.elementor-element-9aee8f6 {
    --e-global-column-to-show: 2;
  }
  .elementor-3909 .elementor-element.elementor-element-9aee8f6 .elementor-item {
    width: calc((100% - 30px * (2 - 1)) / 2);
  }
  .elementor-3909 .elementor-element.elementor-element-a9d315c {
    --e-global-column-to-show: 2;
  }
  .elementor-3909 .elementor-element.elementor-element-a9d315c .elementor-item {
    width: calc((100% - 30px * (2 - 1)) / 2);
  }
  .elementor-3909 .elementor-element.elementor-element-894aa38 {
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 30px 30px;
  }
  .elementor-3909 .elementor-element.elementor-element-e7a8fec {
    padding: 30px 0 0 0;
  }
  .elementor-3909
    .elementor-element.elementor-element-e7a8fec
    .elementor-icon-box-title,
  .elementor-3909
    .elementor-element.elementor-element-e7a8fec
    .elementor-icon-box-title
    a {
    font-size: 30px;
  }
  .elementor-3909 .elementor-element.elementor-element-9c20bc1 {
    padding: 30px 0 0 0;
  }
  .elementor-3909
    .elementor-element.elementor-element-9c20bc1
    .elementor-icon-box-title,
  .elementor-3909
    .elementor-element.elementor-element-9c20bc1
    .elementor-icon-box-title
    a {
    font-size: 30px;
  }
  .elementor-3909 .elementor-element.elementor-element-ce418b6 {
    padding: 30px 0 0 0;
  }
  .elementor-3909
    .elementor-element.elementor-element-ce418b6
    .elementor-icon-box-title,
  .elementor-3909
    .elementor-element.elementor-element-ce418b6
    .elementor-icon-box-title
    a {
    font-size: 30px;
  }
  .elementor-3909 .elementor-element.elementor-element-377a116 {
    --margin-top: 100px;
    --margin-bottom: 123px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-3909 .elementor-element.elementor-element-eb9ad24 {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 150px;
  }
}
@media (max-width: 880px) {
  .elementor-3909 .elementor-element.elementor-element-894aa38 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 75px;
    --padding-bottom: 75px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  body:not(.rtl) .elementor-3909 .elementor-element.elementor-element-8f8e67e {
    left: 75%;
  }
  body.rtl .elementor-3909 .elementor-element.elementor-element-8f8e67e {
    right: 75%;
  }
  .elementor-3909 .elementor-element.elementor-element-8f8e67e {
    bottom: 70px;
  }
  .elementor-3909 .elementor-element.elementor-element-83f84f5 {
    --padding-top: 0;
    --padding-bottom: 0px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-3909
    .elementor-element.elementor-element-2fb73be
    > .elementor-widget-container {
    padding: 0 30px 0 30px;
  }
  .elementor-3909
    .elementor-element.elementor-element-e7a8fec
    .elementor-icon-box-icon {
    --spacing-arc: 20px;
  }
  .elementor-3909
    .elementor-element.elementor-element-e7a8fec.elementor-effect-yes
    .elementor-icon:before {
    mask-size: 86px;
    -webkit-mask-size: 86px;
  }
  .elementor-3909
    .elementor-element.elementor-element-9c20bc1
    .elementor-icon-box-icon {
    --spacing-arc: 20px;
  }
  .elementor-3909
    .elementor-element.elementor-element-9c20bc1.elementor-effect-yes
    .elementor-icon:before {
    mask-size: 80px;
    -webkit-mask-size: 80px;
  }
  .elementor-3909
    .elementor-element.elementor-element-ce418b6
    .elementor-icon-box-icon {
    --spacing-arc: 20px;
  }
  .elementor-3909
    .elementor-element.elementor-element-ce418b6.elementor-effect-yes
    .elementor-icon:before {
    mask-size: 80px;
    -webkit-mask-size: 80px;
  }
  .elementor-3909 .elementor-element.elementor-element-eb9ad24::before,
  .elementor-3909
    .elementor-element.elementor-element-eb9ad24
    > .elementor-background-video-container::before,
  .elementor-3909
    .elementor-element.elementor-element-eb9ad24
    > .e-con-inner
    > .elementor-background-video-container::before,
  .elementor-3909
    .elementor-element.elementor-element-eb9ad24
    > .elementor-background-slideshow::before,
  .elementor-3909
    .elementor-element.elementor-element-eb9ad24
    > .e-con-inner
    > .elementor-background-slideshow::before,
  .elementor-3909
    .elementor-element.elementor-element-eb9ad24
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer::before {
    background-size: contain;
  }
  .elementor-3909 .elementor-element.elementor-element-eb9ad24 {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-3909 .elementor-element.elementor-element-87c277d img {
    width: 80%;
  }
  .elementor-3909 .elementor-element.elementor-element-ae3fd39 {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  body:not(.rtl) .elementor-3909 .elementor-element.elementor-element-1b20784 {
    left: 0;
  }
  body.rtl .elementor-3909 .elementor-element.elementor-element-1b20784 {
    right: 0;
  }
  .elementor-3909 .elementor-element.elementor-element-710b628 {
    text-align: right;
  }
  .elementor-3909 .elementor-element.elementor-element-710b628 img {
    width: 60%;
  }
  .elementor-3909
    .elementor-element.elementor-element-6e25f55
    > .elementor-widget-container {
    padding: 0 30px 0 30px;
  }
}
@media (max-width: 767px) {
  .elementor-3909 .elementor-element.elementor-element-14756ff {
    --margin-top: 60px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-3909
    .elementor-element.elementor-element-afba5e4
    .elementor-headline {
    font-size: 34px;
  }
  .elementor-3909 .elementor-element.elementor-element-894aa38 {
    --gap: 50px 50px;
    --margin-top: 70px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 40px;
    --padding-bottom: 40px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-3909 .elementor-element.elementor-element-a117d26 img {
    width: 120px;
  }
  .elementor-3909 .elementor-element.elementor-element-83f84f5 {
    --gap: 30px 30px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-3909
    .elementor-element.elementor-element-fede03b
    .elementor-headline {
    font-size: 34px;
  }
  .elementor-3909
    .elementor-element.elementor-element-2964d89
    > .elementor-widget-container {
    padding: 0 0 0 0;
  }
  .elementor-3909 .elementor-element.elementor-element-2964d89 {
    --icon-box-icon-margin: 20px;
  }
  .elementor-3909 .elementor-element.elementor-element-2964d89 .elementor-icon {
    font-size: 30px;
  }
  .elementor-3909
    .elementor-element.elementor-element-2964d89
    .elementor-icon-box-title {
    margin: 0 0 0 0;
  }
  .elementor-3909
    .elementor-element.elementor-element-2964d89
    .elementor-icon-box-title,
  .elementor-3909
    .elementor-element.elementor-element-2964d89
    .elementor-icon-box-title
    a {
    font-size: 20px;
  }
  .elementor-3909
    .elementor-element.elementor-element-5514931
    > .elementor-widget-container {
    padding: 0 0 0 0;
  }
  .elementor-3909 .elementor-element.elementor-element-5514931 .elementor-icon {
    font-size: 30px;
  }
  .elementor-3909
    .elementor-element.elementor-element-5514931
    .elementor-icon-box-title,
  .elementor-3909
    .elementor-element.elementor-element-5514931
    .elementor-icon-box-title
    a {
    font-size: 20px;
  }
  .elementor-3909
    .elementor-element.elementor-element-5197825
    > .elementor-widget-container {
    padding: 0 0 0 0;
  }
  .elementor-3909 .elementor-element.elementor-element-5197825 .elementor-icon {
    font-size: 30px;
  }
  .elementor-3909
    .elementor-element.elementor-element-5197825
    .elementor-icon-box-title,
  .elementor-3909
    .elementor-element.elementor-element-5197825
    .elementor-icon-box-title
    a {
    font-size: 20px;
  }
  .elementor-3909
    .elementor-element.elementor-element-2fb73be
    > .elementor-widget-container {
    padding: 0 15px 0 15px;
  }
  .elementor-3909 .elementor-element.elementor-element-80969ed {
    --gap: 30px 30px;
    --margin-top: 75px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-3909
    .elementor-element.elementor-element-f3111ae
    .elementor-headline {
    font-size: 34px;
  }
  .elementor-3909 .elementor-element.elementor-element-7503660 {
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-3909 .elementor-element.elementor-element-7503660.e-con {
    --align-self: center;
  }
  .elementor-3909 .elementor-element.elementor-element-377a116 {
    --margin-top: 60px;
    --margin-bottom: 75px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-3909 .elementor-element.elementor-element-eb9ad24 {
    --min-height: 350px;
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-3909 .elementor-element.elementor-element-eb9ad24::before,
  .elementor-3909
    .elementor-element.elementor-element-eb9ad24
    > .elementor-background-video-container::before,
  .elementor-3909
    .elementor-element.elementor-element-eb9ad24
    > .e-con-inner
    > .elementor-background-video-container::before,
  .elementor-3909
    .elementor-element.elementor-element-eb9ad24
    > .elementor-background-slideshow::before,
  .elementor-3909
    .elementor-element.elementor-element-eb9ad24
    > .e-con-inner
    > .elementor-background-slideshow::before,
  .elementor-3909
    .elementor-element.elementor-element-eb9ad24
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer::before {
    background-size: contain;
  }
  .elementor-3909
    .elementor-element.elementor-element-1da8845
    .elementor-heading-title {
    font-size: 36px;
  }
}
@media (min-width: 768px) {
  .elementor-3909 .elementor-element.elementor-element-83f84f5 {
    --width: 600px;
  }
  .elementor-3909 .elementor-element.elementor-element-eb9ad24 {
    --width: 740px;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .elementor-3909 .elementor-element.elementor-element-83f84f5 {
    --width: 800px;
  }
  .elementor-3909 .elementor-element.elementor-element-eb9ad24 {
    --width: 55%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-3909 .elementor-element.elementor-element-83f84f5 {
    --width: 1000px;
  }
}
@media (max-width: 880px) and (min-width: 768px) {
  .elementor-3909 .elementor-element.elementor-element-83f84f5 {
    --width: 100%;
  }
}
