.elementor-265 .elementor-element.elementor-element-09cb8d5 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-265
  .elementor-element.elementor-element-09cb8d5:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-265
  .elementor-element.elementor-element-09cb8d5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #641200;
}
.elementor-265 .elementor-element.elementor-element-09cb8d5,
.elementor-265 .elementor-element.elementor-element-09cb8d5::before {
  --border-transition: 0.3s;
}
.elementor-265 .elementor-element.elementor-element-5534730 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 90px;
  --padding-bottom: 72px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-265 .elementor-element.elementor-element-f6621ee {
  --display: flex;
  --justify-content: flex-start;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-widget-heading .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-265 .elementor-element.elementor-element-8cdea6b {
  text-align: left;
}
.elementor-265
  .elementor-element.elementor-element-8cdea6b
  .elementor-heading-title {
  color: #fff;
  font-family: "Bangers", Sans-serif;
  font-weight: 400;
  line-height: 81.6px;
}
.elementor-265 .elementor-element.elementor-element-da81453 {
  --display: flex;
  --align-items: flex-end;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --gap: 30px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-widget-text-editor {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-265
  .elementor-element.elementor-element-9489ab3
  > .elementor-widget-container {
  padding: 0 0 0 0;
}
.elementor-265 .elementor-element.elementor-element-9489ab3 {
  text-align: right;
  color: #fff;
  font-family: "Quicksand", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.elementor-265 .elementor-element.elementor-element-9ce2507 {
  width: var(--container-widget-width, 520px);
  max-width: 520px;
  --container-widget-width: 520px;
  --container-widget-flex-grow: 0;
}
.elementor-265
  .elementor-element.elementor-element-9ce2507
  .mc4wp-form-fields
  button[type="submit"] {
  background-color: var(--e-global-color-primary);
}
.elementor-265
  .elementor-element.elementor-element-9ce2507
  .mc4wp-form-fields
  button[type="submit"]:hover {
  background-color: var(--e-global-color-accent);
}
.elementor-265 .elementor-element.elementor-element-d76d0de {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 1px 0 0 0;
  --border-top-width: 1px;
  --border-right-width: 0px;
  --border-bottom-width: 0px;
  --border-left-width: 0px;
  border-color: #ffffff1a;
  --border-color: #ffffff1a;
  --padding-top: 59px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-265 .elementor-element.elementor-element-d76d0de,
.elementor-265 .elementor-element.elementor-element-d76d0de::before {
  --border-transition: 0.3s;
}
.elementor-265 .elementor-element.elementor-element-499a77d {
  --display: flex;
  --gap: 28px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 182px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-widget-yumyum-site-logo
  .yumyum-site-logo-container
  .yumyum-site-logo-img {
  border-color: var(--e-global-color-primary);
}
.elementor-widget-yumyum-site-logo .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-265 .elementor-element.elementor-element-b093ea5.elementor-element {
  --align-self: flex-start;
}
.elementor-265
  .elementor-element.elementor-element-b093ea5
  .yumyum-site-logo-container,
.elementor-265
  .elementor-element.elementor-element-b093ea5
  .yumyum-caption-width
  figcaption {
  text-align: center;
}
.elementor-265
  .elementor-element.elementor-element-b093ea5
  .yumyum-site-logo-container
  .yumyum-site-logo-img {
  border-style: none;
}
.elementor-265
  .elementor-element.elementor-element-b093ea5
  .widget-image-caption {
  margin-top: 0;
  margin-bottom: 0;
}
.elementor-265 .elementor-element.elementor-element-747c298 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: flex-start;
  --align-items: center;
  --gap: 0px 10px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-265 .elementor-element.elementor-element-676f865.elementor-element {
  --align-self: center;
}
.elementor-265 .elementor-element.elementor-element-676f865 {
  color: #fffc;
  font-family: "Quicksand", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.elementor-265 .elementor-element.elementor-element-1f9eb21 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 16px;
  --grid-column-gap: 32px;
  --grid-row-gap: 0px;
}
.elementor-265
  .elementor-element.elementor-element-1f9eb21
  .elementor-widget-container {
  text-align: center;
}
.elementor-265
  .elementor-element.elementor-element-1f9eb21
  .elementor-social-icon {
  background-color: #02010100;
  --icon-padding: 0em;
}
.elementor-265
  .elementor-element.elementor-element-1f9eb21
  .elementor-social-icon
  i {
  color: #fffc;
}
.elementor-265
  .elementor-element.elementor-element-1f9eb21
  .elementor-social-icon
  svg {
  fill: #fffc;
}
.elementor-265
  .elementor-element.elementor-element-1f9eb21
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-primary);
}
.elementor-265
  .elementor-element.elementor-element-1f9eb21
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-265 .elementor-element.elementor-element-ebefaf5 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 28px 0px;
  --background-transition: 0.3s;
  --margin-top: 60px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-265 .elementor-element.elementor-element-6644bd1 {
  --display: flex;
  --gap: 30px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-265 .elementor-element.elementor-element-9cf8967.elementor-element {
  --align-self: flex-start;
}
.elementor-265
  .elementor-element.elementor-element-9cf8967
  .elementor-heading-title {
  color: #fff;
  font-family: "Bangers", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.elementor-265 .elementor-element.elementor-element-23f985b {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 60px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
  border-color: var(--e-global-color-text);
}
.elementor-widget-icon-list .elementor-icon-list-icon i {
  color: var(--e-global-color-primary);
}
.elementor-widget-icon-list .elementor-icon-list-icon svg {
  fill: var(--e-global-color-primary);
}
.elementor-widget-icon-list
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item > a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-icon-list .elementor-icon-list-text {
  color: var(--e-global-color-secondary);
}
.elementor-265 .elementor-element.elementor-element-abcf382.elementor-element {
  --align-self: flex-start;
}
.elementor-265
  .elementor-element.elementor-element-abcf382
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(16px / 2);
}
.elementor-265
  .elementor-element.elementor-element-abcf382
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(16px / 2);
}
.elementor-265
  .elementor-element.elementor-element-abcf382
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(16px / 2);
  margin-left: calc(16px / 2);
}
.elementor-265
  .elementor-element.elementor-element-abcf382
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-16px / 2);
  margin-left: calc(-16px / 2);
}
body.rtl
  .elementor-265
  .elementor-element.elementor-element-abcf382
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-16px / 2);
}
body:not(.rtl)
  .elementor-265
  .elementor-element.elementor-element-abcf382
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-16px / 2);
}
.elementor-265
  .elementor-element.elementor-element-abcf382
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-265
  .elementor-element.elementor-element-abcf382
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-265 .elementor-element.elementor-element-abcf382 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-265
  .elementor-element.elementor-element-abcf382
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-265
  .elementor-element.elementor-element-abcf382
  .elementor-icon-list-item
  > a {
  font-family: "Quicksand", Sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 24px;
}
.elementor-265
  .elementor-element.elementor-element-abcf382
  .elementor-icon-list-text {
  color: #fffc;
  transition: color 0.3s;
}
.elementor-265
  .elementor-element.elementor-element-abcf382
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-primary);
}
.elementor-265 .elementor-element.elementor-element-6e80d3c.elementor-element {
  --align-self: flex-start;
}
.elementor-265
  .elementor-element.elementor-element-6e80d3c
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(16px / 2);
}
.elementor-265
  .elementor-element.elementor-element-6e80d3c
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(16px / 2);
}
.elementor-265
  .elementor-element.elementor-element-6e80d3c
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(16px / 2);
  margin-left: calc(16px / 2);
}
.elementor-265
  .elementor-element.elementor-element-6e80d3c
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-16px / 2);
  margin-left: calc(-16px / 2);
}
body.rtl
  .elementor-265
  .elementor-element.elementor-element-6e80d3c
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-16px / 2);
}
body:not(.rtl)
  .elementor-265
  .elementor-element.elementor-element-6e80d3c
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-16px / 2);
}
.elementor-265
  .elementor-element.elementor-element-6e80d3c
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-265
  .elementor-element.elementor-element-6e80d3c
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-265 .elementor-element.elementor-element-6e80d3c {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-265
  .elementor-element.elementor-element-6e80d3c
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-265
  .elementor-element.elementor-element-6e80d3c
  .elementor-icon-list-item
  > a {
  font-family: "Quicksand", Sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 24px;
}
.elementor-265
  .elementor-element.elementor-element-6e80d3c
  .elementor-icon-list-text {
  color: #fffc;
  transition: color 0.3s;
}
.elementor-265
  .elementor-element.elementor-element-6e80d3c
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-primary);
}
.elementor-265 .elementor-element.elementor-element-437f1b0 {
  --display: flex;
  --gap: 30px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-265 .elementor-element.elementor-element-54138ef.elementor-element {
  --align-self: flex-start;
}
.elementor-265
  .elementor-element.elementor-element-54138ef
  .elementor-heading-title {
  color: #fff;
  font-family: "Bangers", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.elementor-265 .elementor-element.elementor-element-0ce93a3.elementor-element {
  --align-self: flex-start;
}
.elementor-265
  .elementor-element.elementor-element-0ce93a3
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(16px / 2);
}
.elementor-265
  .elementor-element.elementor-element-0ce93a3
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(16px / 2);
}
.elementor-265
  .elementor-element.elementor-element-0ce93a3
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(16px / 2);
  margin-left: calc(16px / 2);
}
.elementor-265
  .elementor-element.elementor-element-0ce93a3
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-16px / 2);
  margin-left: calc(-16px / 2);
}
body.rtl
  .elementor-265
  .elementor-element.elementor-element-0ce93a3
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-16px / 2);
}
body:not(.rtl)
  .elementor-265
  .elementor-element.elementor-element-0ce93a3
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-16px / 2);
}
.elementor-265
  .elementor-element.elementor-element-0ce93a3
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-265
  .elementor-element.elementor-element-0ce93a3
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-265 .elementor-element.elementor-element-0ce93a3 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-265
  .elementor-element.elementor-element-0ce93a3
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-265
  .elementor-element.elementor-element-0ce93a3
  .elementor-icon-list-item
  > a {
  font-family: "Quicksand", Sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 24px;
}
.elementor-265
  .elementor-element.elementor-element-0ce93a3
  .elementor-icon-list-text {
  color: #fffc;
  transition: color 0.3s;
}
.elementor-265
  .elementor-element.elementor-element-0ce93a3
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-primary);
}
.elementor-265 .elementor-element.elementor-element-a969a5e {
  --display: flex;
  --gap: 30px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-265 .elementor-element.elementor-element-3fbfaf3.elementor-element {
  --align-self: flex-start;
}
.elementor-265
  .elementor-element.elementor-element-3fbfaf3
  .elementor-heading-title {
  color: #fff;
  font-family: "Bangers", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.elementor-265 .elementor-element.elementor-element-675d87e {
  --display: flex;
  --gap: 16px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-265 .elementor-element.elementor-element-a3f43ff {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 5px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-265 .elementor-element.elementor-element-a6aefac.elementor-element {
  --align-self: flex-start;
}
.elementor-265 .elementor-element.elementor-element-a6aefac {
  color: #fffc;
  font-family: "Quicksand", Sans-serif;
  font-weight: 500;
  line-height: 16px;
}
.elementor-265 .elementor-element.elementor-element-5d7faeb.elementor-element {
  --align-self: flex-start;
}
.elementor-265 .elementor-element.elementor-element-5d7faeb {
  color: #fffc;
  font-family: "Quicksand", Sans-serif;
  font-weight: 600;
  line-height: 16px;
}
.elementor-265 .elementor-element.elementor-element-7127771 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 5px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-265 .elementor-element.elementor-element-eaacf38.elementor-element {
  --align-self: flex-start;
}
.elementor-265 .elementor-element.elementor-element-eaacf38 {
  color: #fffc;
  font-family: "Quicksand", Sans-serif;
  font-weight: 500;
  line-height: 16px;
}
.elementor-265 .elementor-element.elementor-element-ba982c4.elementor-element {
  --align-self: flex-start;
}
.elementor-265 .elementor-element.elementor-element-ba982c4 {
  color: #fffc;
  font-family: "Quicksand", Sans-serif;
  font-weight: 600;
  line-height: 16px;
}
.elementor-265 .elementor-element.elementor-element-f84301a {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 1px 0 0 0;
  --border-top-width: 1px;
  --border-right-width: 0px;
  --border-bottom-width: 0px;
  --border-left-width: 0px;
  border-color: #ffffff1a;
  --border-color: #ffffff1a;
  --padding-top: 39px;
  --padding-bottom: 42px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-265 .elementor-element.elementor-element-f84301a,
.elementor-265 .elementor-element.elementor-element-f84301a::before {
  --border-transition: 0.3s;
}
.elementor-265 .elementor-element.elementor-element-8abf6bc {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: flex-start;
  --gap: 0px 5px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-265 .elementor-element.elementor-element-b4a3178.elementor-element {
  --align-self: flex-start;
}
.elementor-265 .elementor-element.elementor-element-b4a3178 {
  color: #ffffffb3;
  font-family: "Quicksand", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.elementor-265 .elementor-element.elementor-element-1ffd944 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: flex-end;
  --gap: 0px 10px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-265 .elementor-element.elementor-element-e8144e8.elementor-element {
  --align-self: center;
}
.elementor-265 .elementor-element.elementor-element-0b0945f.elementor-element {
  --align-self: center;
}
.elementor-265 .elementor-element.elementor-element-a9f1d29.elementor-element {
  --align-self: center;
}
.elementor-265 .elementor-element.elementor-element-9c00be7.elementor-element {
  --align-self: center;
}
.elementor-265 .elementor-element.elementor-element-b5c8666.elementor-element {
  --align-self: center;
}
.elementor-265 .elementor-element.elementor-element-d0fd8ec.elementor-element {
  --align-self: center;
}
.elementor-265 .elementor-element.elementor-element-06c96ec.elementor-element {
  --align-self: center;
}
@media (max-width: 1366px) {
  .elementor-265 .elementor-element.elementor-element-ebefaf5 {
    --margin-top: 59px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
}
@media (min-width: 768px) {
  .elementor-265 .elementor-element.elementor-element-499a77d {
    --width: 34%;
  }
  .elementor-265 .elementor-element.elementor-element-ebefaf5 {
    --width: 66%;
  }
  .elementor-265 .elementor-element.elementor-element-6644bd1 {
    --width: 50%;
  }
  .elementor-265 .elementor-element.elementor-element-437f1b0 {
    --width: 24%;
  }
  .elementor-265 .elementor-element.elementor-element-a969a5e {
    --width: 26%;
  }
}
@media (max-width: 1366px) and (min-width: 768px) {
  .elementor-265 .elementor-element.elementor-element-499a77d {
    --width: 30%;
  }
  .elementor-265 .elementor-element.elementor-element-ebefaf5 {
    --width: 70%;
  }
  .elementor-265 .elementor-element.elementor-element-437f1b0 {
    --width: 22%;
  }
  .elementor-265 .elementor-element.elementor-element-a969a5e {
    --width: 28%;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .elementor-265 .elementor-element.elementor-element-499a77d {
    --width: 30%;
  }
  .elementor-265 .elementor-element.elementor-element-ebefaf5 {
    --width: 70%;
  }
  .elementor-265 .elementor-element.elementor-element-6644bd1 {
    --width: 47%;
  }
  .elementor-265 .elementor-element.elementor-element-437f1b0 {
    --width: 20%;
  }
  .elementor-265 .elementor-element.elementor-element-a969a5e {
    --width: 33%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-265 .elementor-element.elementor-element-499a77d {
    --width: 100%;
  }
  .elementor-265 .elementor-element.elementor-element-ebefaf5 {
    --width: 100%;
  }
  .elementor-265 .elementor-element.elementor-element-6644bd1 {
    --width: 50%;
  }
  .elementor-265 .elementor-element.elementor-element-437f1b0 {
    --width: 26%;
  }
  .elementor-265 .elementor-element.elementor-element-a969a5e {
    --width: 24%;
  }
}
@media (max-width: 880px) and (min-width: 768px) {
  .elementor-265 .elementor-element.elementor-element-499a77d {
    --width: 100%;
  }
  .elementor-265 .elementor-element.elementor-element-ebefaf5 {
    --width: 100%;
  }
  .elementor-265 .elementor-element.elementor-element-6644bd1 {
    --width: 48%;
  }
  .elementor-265 .elementor-element.elementor-element-437f1b0 {
    --width: 20%;
  }
  .elementor-265 .elementor-element.elementor-element-a969a5e {
    --width: 32%;
  }
}
@media (max-width: 1200px) {
  .elementor-265 .elementor-element.elementor-element-1f9eb21 {
    --grid-column-gap: 22px;
  }
  .elementor-265 .elementor-element.elementor-element-23f985b {
    --gap: 0 35px;
  }
}
@media (max-width: 1024px) {
  .elementor-265 .elementor-element.elementor-element-5534730 {
    --gap: 10px 0;
    --flex-wrap: wrap;
  }
  .elementor-265
    .elementor-element.elementor-element-8cdea6b
    > .elementor-widget-container {
    padding: 0 0 0 0;
  }
  .elementor-265 .elementor-element.elementor-element-8cdea6b {
    text-align: center;
  }
  .elementor-265 .elementor-element.elementor-element-da81453 {
    --gap: 20px 0;
  }
  .elementor-265
    .elementor-element.elementor-element-9489ab3.elementor-element {
    --align-self: center;
  }
  .elementor-265 .elementor-element.elementor-element-9489ab3 {
    text-align: center;
  }
  .elementor-265 .elementor-element.elementor-element-9ce2507 {
    width: var(--container-widget-width, 545px);
    max-width: 545px;
    --container-widget-width: 545px;
    --container-widget-flex-grow: 0;
  }
  .elementor-265
    .elementor-element.elementor-element-9ce2507.elementor-element {
    --align-self: center;
  }
  .elementor-265 .elementor-element.elementor-element-d76d0de {
    --flex-wrap: wrap;
    --padding-top: 40px;
    --padding-bottom: 60px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-265 .elementor-element.elementor-element-499a77d {
    --padding-top: 0;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-265
    .elementor-element.elementor-element-b093ea5.elementor-element {
    --align-self: center;
  }
  .elementor-265 .elementor-element.elementor-element-747c298 {
    --justify-content: center;
  }
  .elementor-265 .elementor-element.elementor-element-23f985b {
    --gap: 0 100px;
  }
}
@media (max-width: 880px) {
  .elementor-265 .elementor-element.elementor-element-5534730 {
    --padding-top: 60px;
    --padding-bottom: 60px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-265
    .elementor-element.elementor-element-8cdea6b.elementor-element {
    --align-self: center;
  }
  .elementor-265
    .elementor-element.elementor-element-8cdea6b
    .elementor-heading-title {
    line-height: 40px;
  }
  .elementor-265 .elementor-element.elementor-element-d76d0de {
    --gap: 50px 0;
    --flex-wrap: wrap;
  }
  .elementor-265 .elementor-element.elementor-element-ebefaf5 {
    --margin-top: 0;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-265 .elementor-element.elementor-element-23f985b {
    --gap: 0 40px;
  }
}
@media (max-width: 767px) {
  .elementor-265 .elementor-element.elementor-element-09cb8d5 {
    --padding-top: 0;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-265 .elementor-element.elementor-element-9ce2507 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-265 .elementor-element.elementor-element-d76d0de {
    --gap: 40px 0;
    --padding-top: 60px;
    --padding-bottom: 60px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-265
    .elementor-element.elementor-element-b093ea5.elementor-element {
    --align-self: center;
  }
  .elementor-265
    .elementor-element.elementor-element-b093ea5
    .yumyum-site-logo-container,
  .elementor-265
    .elementor-element.elementor-element-b093ea5
    .yumyum-caption-width
    figcaption {
    text-align: center;
  }
  .elementor-265 .elementor-element.elementor-element-ebefaf5 {
    --gap: 40px 0;
  }
  .elementor-265 .elementor-element.elementor-element-6644bd1 {
    --gap: 15px 0;
  }
  .elementor-265
    .elementor-element.elementor-element-9cf8967.elementor-element {
    --align-self: center;
  }
  .elementor-265 .elementor-element.elementor-element-9cf8967 {
    text-align: center;
  }
  .elementor-265 .elementor-element.elementor-element-23f985b {
    --justify-content: center;
    --gap: 10px 0px;
    --flex-wrap: wrap;
  }
  .elementor-265 .elementor-element.elementor-element-abcf382 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-265
    .elementor-element.elementor-element-abcf382.elementor-element {
    --align-self: center;
  }
  .elementor-265 .elementor-element.elementor-element-6e80d3c {
    width: 100%;
    max-width: 100%;
  }
  .elementor-265
    .elementor-element.elementor-element-6e80d3c.elementor-element {
    --align-self: center;
  }
  .elementor-265 .elementor-element.elementor-element-437f1b0 {
    --gap: 15px 0;
  }
  .elementor-265
    .elementor-element.elementor-element-54138ef.elementor-element {
    --align-self: center;
  }
  .elementor-265 .elementor-element.elementor-element-54138ef {
    text-align: center;
  }
  .elementor-265
    .elementor-element.elementor-element-0ce93a3.elementor-element {
    --align-self: center;
  }
  .elementor-265 .elementor-element.elementor-element-a969a5e {
    --gap: 15px 0;
  }
  .elementor-265
    .elementor-element.elementor-element-3fbfaf3.elementor-element {
    --align-self: center;
  }
  .elementor-265 .elementor-element.elementor-element-3fbfaf3 {
    text-align: center;
  }
  .elementor-265 .elementor-element.elementor-element-a3f43ff {
    --justify-content: center;
  }
  .elementor-265 .elementor-element.elementor-element-a6aefac {
    text-align: center;
  }
  .elementor-265
    .elementor-element.elementor-element-5d7faeb.elementor-element {
    --align-self: center;
  }
  .elementor-265 .elementor-element.elementor-element-5d7faeb {
    text-align: center;
  }
  .elementor-265 .elementor-element.elementor-element-7127771 {
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-265 .elementor-element.elementor-element-7127771.e-con {
    --align-self: center;
  }
  .elementor-265
    .elementor-element.elementor-element-eaacf38.elementor-element {
    --align-self: center;
  }
  .elementor-265 .elementor-element.elementor-element-f84301a {
    --justify-content: center;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-265 .elementor-element.elementor-element-8abf6bc {
    --justify-content: center;
  }
  .elementor-265
    .elementor-element.elementor-element-b4a3178.elementor-element {
    --align-self: center;
  }
  .elementor-265 .elementor-element.elementor-element-b4a3178 {
    text-align: center;
  }
}
