.elementor-1787 .elementor-element.elementor-element-85b430e {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 0 0 1px 0;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: var(--e-global-color-border);
  --border-color: var(--e-global-color-border);
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 95px;
  --padding-right: 95px;
}
.elementor-1787 .elementor-element.elementor-element-85b430e,
.elementor-1787 .elementor-element.elementor-element-85b430e::before {
  --border-transition: 0.3s;
}
.elementor-1787 .elementor-element.elementor-element-d90b080 {
  --display: flex;
  --justify-content: center;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-widget-yumyum-site-logo
  .yumyum-site-logo-container
  .yumyum-site-logo-img {
  border-color: var(--e-global-color-primary);
}
.elementor-widget-yumyum-site-logo .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-1787 .elementor-element.elementor-element-cd86b92.elementor-element {
  --align-self: flex-start;
}
.elementor-1787
  .elementor-element.elementor-element-cd86b92
  .yumyum-site-logo-container,
.elementor-1787
  .elementor-element.elementor-element-cd86b92
  .yumyum-caption-width
  figcaption {
  text-align: center;
}
.elementor-1787
  .elementor-element.elementor-element-cd86b92
  .yumyum-site-logo-container
  .yumyum-site-logo-img {
  border-style: none;
}
.elementor-1787
  .elementor-element.elementor-element-cd86b92
  .widget-image-caption {
  margin-top: 0;
  margin-bottom: 0;
}
.elementor-1787 .elementor-element.elementor-element-b45b254 {
  --display: flex;
  --flex-direction: row-reverse;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap-reverse;
  --justify-content: center;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-1787 .elementor-element.elementor-element-a38a1db .main-navigation {
  text-align: center;
}
.elementor-1787
  .elementor-element.elementor-element-a38a1db
  .main-navigation
  ul.menu
  > li.menu-item {
  padding: 33px 23px 33px 23px;
}
.elementor-1787
  .elementor-element.elementor-element-a38a1db
  .main-navigation
  ul.menu
  > li.menu-item
  > a
  span:after {
  background-color: var(--e-global-color-secondary);
}
.elementor-1787
  .elementor-element.elementor-element-a38a1db
  .main-navigation
  ul.menu
  > li.menu-item.current-menu-ancestor
  > a
  span:after {
  background-color: var(--e-global-color-secondary);
}
.elementor-1787 .elementor-element.elementor-element-7e935ed.elementor-element {
  --align-self: center;
}
.elementor-1787
  .elementor-element.elementor-element-7e935ed
  .menu-mobile-nav-button:hover
  .yumyum-icon
  > span {
  background-color: var(--e-global-color-primary);
}
.elementor-1787
  .elementor-element.elementor-element-7e935ed
  .menu-mobile-nav-button:hover
  .screen-reader-text {
  color: var(--e-global-color-primary);
}
.elementor-1787 .elementor-element.elementor-element-10292b9 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: flex-end;
  --gap: 0px 24px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-1787 .elementor-element.elementor-element-224b089.elementor-element {
  --align-self: center;
}
.elementor-1787
  .elementor-element.elementor-element-224b089
  .elementor-header-group-wrapper
  .header-group-action
  .count {
  color: var(--e-global-color-secondary);
  background-color: var(--e-global-color-primary);
}
.elementor-1787
  .elementor-element.elementor-element-224b089
  .elementor-header-group-wrapper
  .header-group-action
  > div
  a:hover
  i:before {
  color: var(--e-global-color-primary);
}
.elementor-1787
  .elementor-element.elementor-element-224b089
  .elementor-header-group-wrapper
  .header-group-action
  > div
  a:hover:before {
  color: var(--e-global-color-primary);
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-1787 .elementor-element.elementor-element-94f8194 .elementor-button {
  background-color: var(--e-global-color-highlight);
  font-family: "Quicksand", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  fill: #fff;
  color: #fff;
  border-style: solid;
  border-width: 0 3px 3px 0;
  border-color: var(--e-global-color-secondary);
  border-radius: 9px 9px 9px 9px;
  padding: 11px 23px 11px 23px;
}
.elementor-1787
  .elementor-element.elementor-element-94f8194
  .elementor-button:hover,
.elementor-1787
  .elementor-element.elementor-element-94f8194
  .elementor-button:focus {
  background-color: var(--e-global-color-primary);
}
.elementor-1787 .elementor-element.elementor-element-94f8194.elementor-element {
  --align-self: center;
}
.elementor-1787
  .elementor-element.elementor-element-94f8194
  .elementor-button-content-wrapper {
  flex-direction: row;
}
.elementor-1787
  .elementor-element.elementor-element-94f8194
  .elementor-button
  .elementor-button-content-wrapper {
  gap: 10px;
}
.elementor-1787
  .elementor-element.elementor-element-94f8194
  .elementor-button-content-wrapper
  .elementor-button-icon
  i:before {
  font-size: 19px;
}
.elementor-1787
  .elementor-element.elementor-element-94f8194
  .elementor-button-content-wrapper
  .elementor-button-icon
  svg {
  font-size: 19px;
}
@media (min-width: 768px) {
  .elementor-1787 .elementor-element.elementor-element-d90b080 {
    --width: 25%;
  }
  .elementor-1787 .elementor-element.elementor-element-b45b254 {
    --width: 50%;
  }
  .elementor-1787 .elementor-element.elementor-element-10292b9 {
    --width: 25%;
  }
}
@media (max-width: 1366px) and (min-width: 768px) {
  .elementor-1787 .elementor-element.elementor-element-d90b080 {
    --width: 30%;
  }
  .elementor-1787 .elementor-element.elementor-element-b45b254 {
    --width: 40%;
  }
  .elementor-1787 .elementor-element.elementor-element-10292b9 {
    --width: 30%;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .elementor-1787 .elementor-element.elementor-element-d90b080 {
    --width: 28%;
  }
  .elementor-1787 .elementor-element.elementor-element-b45b254 {
    --width: 44%;
  }
  .elementor-1787 .elementor-element.elementor-element-10292b9 {
    --width: 28%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-1787 .elementor-element.elementor-element-d90b080 {
    --width: 40%;
  }
  .elementor-1787 .elementor-element.elementor-element-b45b254 {
    --width: 30%;
  }
  .elementor-1787 .elementor-element.elementor-element-10292b9 {
    --width: 30%;
  }
}
@media (max-width: 1366px) {
  .elementor-1787 .elementor-element.elementor-element-85b430e {
    --padding-top: 0;
    --padding-bottom: 0px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-1787 .elementor-element.elementor-element-b45b254 {
    --justify-content: center;
  }
  .elementor-1787
    .elementor-element.elementor-element-a38a1db
    .main-navigation
    ul.menu
    > li.menu-item {
    padding: 33px 18px 33px 18px;
  }
}
@media (max-width: 1200px) {
  .elementor-1787 .elementor-element.elementor-element-b45b254 {
    --justify-content: center;
  }
}
@media (max-width: 1024px) {
  .elementor-1787 .elementor-element.elementor-element-85b430e {
    --padding-top: 25px;
    --padding-bottom: 25px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-1787
    .elementor-element.elementor-element-cd86b92.elementor-element {
    --align-self: center;
  }
  .elementor-1787 .elementor-element.elementor-element-b45b254 {
    --justify-content: flex-end;
  }
  .elementor-1787 .elementor-element.elementor-element-b45b254.e-con {
    --order: -99999;
  }
}
@media (max-width: 767px) {
  .elementor-1787 .elementor-element.elementor-element-85b430e {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-1787 .elementor-element.elementor-element-d90b080 {
    --width: 50%;
  }
  .elementor-1787 .elementor-element.elementor-element-d90b080.e-con {
    --order: -99999;
  }
  .elementor-1787
    .elementor-element.elementor-element-cd86b92.elementor-element {
    --align-self: flex-start;
  }
  .elementor-1787 .elementor-element.elementor-element-b45b254 {
    --width: 50%;
    --justify-content: flex-start;
  }
}
